.special{
    display: grid;
    grid-auto-columns:800px;
    grid-auto-rows: 1fr ;
    justify-items: center;
    align-items: center;
    justify-content:center;
    align-content: center;
    gap:1em;
    margin:50px;
}

.special>p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: auto;
    align-self: center;
    font-size: 2em;
    color: blue;
    background-color:bisque;
    border-radius: 20px;
    padding: 10px;
}

#Bullish{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color:green;
    color:white;
}

#Bearish{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color:red;
    color:white;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}


select,
textarea {
    display: grid;
    border: 1px solid #ccc;
    border-radius: 4px; /* Optional: adds rounded corners */
    box-sizing: border-box; /* Ensures padding/border are included in the 100% width calculation */
    font-size: 16px;   
}

#fm{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto ;
    padding: 20px;
    margin: auto;
    /* justify-content: center; */
    /* align-content: center; */
    background-color: bisque;
    border-radius: 20cm;
}

form{
    display:grid;
    grid-template-columns:max-content max-content;
    grid-template-rows:auto;
    justify-content: center;
    align-content: center;
}

#btn{
    width: 75px;
    height: 50px;
}

td{
    padding:20px;
}

table{
    align-self: center;
    justify-self: center;
    padding: auto;
    padding: 20px;
}